.this-month {
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.this-month .group-6 {
  position: relative;
}

.this-month .overlap-group-2 {
  background-color: #151515;
  border-radius: 10px;
  height: 100px;
  position: relative;
  width: 335px;
}

.this-month .text-wrapper-5 {
  color: #535353;
  font-family: "Poppins", Helvetica;
  font-size: 16.9px;
  font-weight: 600;
  left: 109px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 65px;
}

.this-month .group-7 {
  height: 30px;
  left: 10px;
  position: absolute;
  top: 20px;
  width: 309px;
}

.this-month .text-wrapper-6 {
  color: #c8a1d6;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.this-month .img {
  height: 2px;
  left: 294px;
  position: absolute;
  top: 15px;
  width: 13px;
}

.this-month .text-wrapper-7 {
  color: #d9d9d9;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.this-month .plus-solid-2 {
  height: 11px;
  left: 294px;
  position: absolute;
  top: 11px;
  width: 13px;
}

.this-month.property-1-0-var-2 {
  display: inline-flex;
}

.this-month.property-1-0-default {
  background-color: #151515;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  padding: 20px 10px;
  width: 335px;
}

.this-month.property-1-0-var-2 .group-6 {
  height: 100px;
  margin-right: -2px;
  width: 337px;
}

.this-month.property-1-0-default .group-6 {
  height: 30px;
  width: 309px;
}
