:root {
  --header-font-family: "Poppins-SemiBold", Helvetica;
  --header-font-size: 27px;
  --header-font-style: normal;
  --header-font-weight: 600;
  --header-letter-spacing: 0px;
  --header-line-height: normal;
}
